/*
    Chart y-axis
    These are minimal default values only,
    potentially over-ridden further up the chain.
    This file should probably be ignored...
*/

/* Actual ticks */
.d3-xaxis-group line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.3px;
  /* Sadly, crispEdges causes some ticks not to display... */
  /* shape-rendering: crispEdges; */
}

/* No 'domain' path */
.d3-xaxis-group path {
  display:none;
}

/* Axis labels */
.d3-xaxis-group text {
  font-family: 'OfficinaSanITC-Book';
  font-size: 7px;
  fill: #000000;
}
