/* Chart x-axis */
.d3-xaxis-group path, .d3-xaxis-group line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.3px;
  /* Sadly, crispEdges causes some ticks not to display... */
  /* shape-rendering: crispEdges; */
}

.d3-xaxis-group path {
  display:none;
}

.d3-xaxis-group text {
  font-family: 'OfficinaSanITC-Book';
  font-size: 7px;
  fill: #000000;
}
